<% include public_header.html %>
<!--
]QQQQQQQQQQQQQQQQQQQQQDCaXwowaaa%mmm###m##So22$QQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQ
]QQQQQQQQQQQQQ@UWWmWWZZZZZZZZXZXZZZZZqaag##*o2e$QQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQ
]QQQQQQQQQ@BqZ#Z##WWWm#ZZZZ#ZZZZZZZZZXXXZZoa%*o]QQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQ
]QB$mQQWWdZZZYYZamX#WmWm##ZZZZ#ZZ#ZZZZZZZZZZXZucQWQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQ
]XZmmW$d#YYswd##Z#ZZXZ#WmWmm#ZZSXZZZZZZZZZZZZZZXXU$QQQQQQQQQQQQQQQQQQQQQQQQQQQQQ
]XZWK?5wx#p#mZZ#2ZmX#ZZZZ#YWXWmmX#ZZ#Z#ZZZZZZZXZXXXdVQQQQQQQQQQQQQQQQQQQQQQQQQQQ
]YYdV$adZ$ZZZ#ZZ##Z#Z#Y1xwXZZZZ#WZmZYXZZZZZZZZZZZZXXXaXqVV9QQQQQQQQQQQQQQQQQQQQQ
]=wQwZ#Zo###2o##Z#ZZ1adSZYX#ZmZZYod##mZZZ#ZZZZZZZZZZZXc#ZMSnsZ$QQQQQQQQQQQQQQQQQ
]Qd#X#5dZ#Z1x##ZZ#(ummXZZ#Zq?#su#ZXXXZZ#ZZZ#ZZZZZZZZZZZcV#ZMSnosU9QQQQQQQQQQQQQQ
]#XmYx#Z##1QZ#Z#Ya???"g/!35dSwZSomZ#Z#Z#ZXZZZZ#ZZZZZZZZZp$Z#XM3o22nVWWQQQQQQQQQQ
]XYWxW#Z#1W#X##hm7jj2mgzv,{nXSdZ#ZZZ#ZZSu#Z#Z#XZ#ZZZZZZZhX####X)n22ooxUQWQQQQQQQ
)#xwZQ##1mQ>IZZmWqmD%i1iQ\uno#ZZ#Z#ZZ9sd#ZZ#ZZZZZ#ZZ#ZZZZmd######*o222onTQQQWQQQ
])mX#QY(mixwx*mmQWkdp%weamsC##Z#ZZSw#sX#Z##Z#XdmZZZZZZZ#Zc3m#####Z|3o2222nVWWQQQ
jmZ#awuwlQWQmwd#mWbmWWwWWWm%#Z#ZmmW#1mmXqXZZYu1dm#Z#Z#ZZZ(Zmm######ZS22222oo$QQQ
]###Z#Z1WQ$WmWBWWWWWWWWWWB#zX#5mmwp,]!dXZZX1YQdZ#W#ZZZZZZSZmmm#####m2S2222S2aQQQ
]#UAmmz#Q5)WBWWWWWWWWmWmWWWmwgWYnVRims/!mdlWad#Z##BmZ#Z#2Zmmmmmmm#auSoS22Soo1QQQ
jaa%#mQRZWZ)QWWWWWWWWWWWWWWWWWomlQ}WiWq,)auqZZ#Z#Z#WmZ#ZZ#mmmmssX22S2S22S*qmQQQQ
]?iW#awmas3mu$WWWWmdWWWWWWWWWB7$Qmp7aaM_/mZ#Z#Z#ZZ#ZW##(3mWmi?!!!!!*!XwwWWQQQQQQ
]ZaamQWWUVeJ#Z#WWWWWWWWWWWm##mWmwh7?mgqu#Z#Z#Z#Z##ZZZZNZWmmm#ZQawwwmQWWWWQQQQQQQ
)q2VUno2zo#ZZZZXUUWWWWWWWBBZYXXSVWZmdhm#ZSm#X##XZ#Z#!S2awwyQQQQQQWWQQQQQQQQQQQQQ
jgQeMo2nXZS21mmdXZ2!YYYYTYTY!ii???Y?Y?mu#XZhYqX##Z?#qQwmWWWQQQQQQQQQQQQQQQQQQQQQ
jonMm)nuo22qQQQW*iaaX#Z#Z#moaiQiiiQxu#ZZZ!wdZ#ZY*SmWmQWQQQQQQQQQQQQQQQQQQQQQQQQQ
]Mnnnnnn*oQWBUe?*3X#Z?Y?YYS##qacQadZ#Z21YY*|H|XXmaaxaQWQQQQQQQQQQQQQQQQQQQQQQQQQ
]ZUKnnn{gQQmgmesa>ZZZX#Z#Z#Z#Yiw#ZZZYKiQVmXxaaZ##?*jXmQQQQQQQQQQQQQQQQQQQQQQQQQQ
]Z##00U?YYYVU1w##odZZZX#Z#Y1waZZXZY#UQaaw#ZZZY!(mmQdS$WQQQQQQQQQQQQQQQQQQQQQQQQQ -->
<style>
    .ct {
        width: 800px;
        margin: auto;
    }

    .left {
        width: 495px;
        float: left;
    }

    .right {
        width: 300px;
        float: right
    }

    .well {
        margin-bottom: 5px;
    }

    .userInfo {
        margin-top: 5px;
        width: 100%;
        height: 55px;
    }

    .uLeft {
        width: 50px;
        height: 100%;
        float: left;
    }

    .uLeft > img {
        width: 100%;
        height: 100%;
    }

    .uRight {
        text-align: left;
        margin-left: 80px;
        position: relative
    }
</style>
<script type="text/javascript" src="/scripts/index.js"></script>
<div class="ct">
    <div class="left">
        <div class="well">
            <h3>公告区</h3>
            <p>Waiting for test：</p>
            <ul>
                <li>等级系统（胜利者加0.2等级）</li>
                <li>自定义头像（“关于我”中）</li>
            </ul>
        </div>
        <div class="well">
            <h3>热帖</h3>
            <div id="hotpostList">Loading...</div>
        </div>
    </div>
    <div class="right">
        <div class="well">
            <h3>TOP5用户</h3>
            <div id="hotuserList">Loading...</div>
        </div>
    </div>
</div>
<% include public_footer.html %>
